html body { 
  background: url(./images/cover2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100%;
}



.content-page {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 40px;
  height: 1100px;
  width: 500px;
  margin: 100px auto;
}

.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}